@use "variables" as *;

header{
    background-color: $colorfondo;

    a{
        color: $colortextologo;
        text-decoration: none;
    }
    
    h1{
        font-family: $tipoletralogo;
        font-style: normal;
        font-weight: 400;
        color: $colortextologo;
        text-decoration: none;
        text-align: center;
        font-size: 60px;
    }
    nav{
        width: 100%;
        a{
            color: white;
            text-decoration: none;
        }
    }

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        display: flex;
        justify-content: center;
    }

    li{
        margin: 0 30px;
        a:hover{
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    .nav-underline .nav-link {
        padding-right: 0;
        padding-left: 0;
        border-bottom: var(--bs-nav-underline-border-width) solid transparent;
        font-weight: 700;
        color: white;
    }

    .navbar-toggler{
        color: white;
        background-color: white;
    }

    .navbar-nav .nav-link.active{
        color: #6c757d;
    }

    .bg-body-tertiary {
        --bs-bg-opacity: 1;
        background-color: #212529 !important;
    }

    .btn-outline-success {
        --bs-btn-color: white;
        --bs-btn-border-color: white;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: rgb(72, 72, 204);
        --bs-btn-hover-border-color: white;
        --bs-btn-focus-shadow-rgb: 25, 135, 84;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: rgb(72, 72, 204);
        --bs-btn-active-border-color: black;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #198754;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #198754;
        --bs-gradient: none;
    }
}