@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

$colortitulos: rgb(72, 72, 204);
$colortextos: black;
$colortextologo: white;
$colortextonav: white;
$colorprecio: #ff0000;
$colorfondo: black;
$colorfondomain: rgb(240, 240, 240);
$colorfondofooter1: black;
$colorfondofooter2: #121212;
$colortitulofooter: rgb(72, 72, 204);
$colortitulosection: #ffffff;
$colortextofooter: white;
$colortextosection: #bbb;
$colortextostrongsection: #fff;
$lineadividersection: #ff0000;


$tipoletralogo: "Mr Dafoe", cursive;
$tipoletranav: "Prompt", sans-serif;
$tipoletramain: "Prompt", sans-serif;
$tipoletrafooter: 'Montserrat', sans-serif;

@mixin textosvarios ($color, $alineaciontexto){
    color: $color;
    text-align: $alineaciontexto;
}

.margenypadding{
    padding: 10px 0 0 10px;
}


