@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

header{
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

ul{
    display: flex;
    flex-direction: row;
}

nav{
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}



nav ul li{
    margin: 0 30px;
}

h4{
    color: rgb(72, 72, 204);
}

header a{
    color: white;
    text-decoration: none;
}
header .logo{
    font-family: "Mr Dafoe", cursive;
    font-style: normal;
    font-weight: 400;
}

header h1 a{
    text-align: center;
    font-size: 60px;
}

.imagenFondo{
    width: 100%;
}

article img{
    width: 200px;
}

header nav a{
    color: white;
    text-decoration: none;
}

main{
    font-family: "Prompt", sans-serif;
    background-color: rgb(240, 240, 240);
}

main section .precio{
    color: aqua;
}

label{
    color: rgb(72, 72, 204);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
}


article{
    height: 100%;
    margin: 10px 0 10px 0;
}

section article p{
    text-align: center;
}

h2{
    padding: 10px 0 0 10px;
    color: rgb(72, 72, 204);
    text-align: center;
}

.comentarios{
    display: flex;
}


.cajaElementosMujer{
    width: 800px;
    height: 500px;
    margin: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mochilaMujer remeraMujer shortMujer zapasMujer";
}

.cajaElementosNiños{
    width: 800px;
    height: 520;
    margin: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ojotasBatman rollersMujer remeraLycra scooter";
}

.cajaElementosZapatillas{
    width: 800px;
    height: 500px;
    margin: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "zapasVansClasicas zapasVans zapasRipCurl zapasDc";
}

.pantalon{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: pantalon;
}

.remera{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: remera;
}

.anteojos{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: anteojos;
    object-fit: cover;
    object-position: center;
}


.bermudaJean{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: bermudaJean;
}

.mochilaMujer{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: mochilaMujer;
}

.remeraMujer{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: remeraMujer;
}

.shortMujer{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: shortMujer;
}

.zapasMujer{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: zapasMujer;
}

.ojotasBatman{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: ojotasBatman;
}

.rollersMujer{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: rollersMujer;
}

.remeraLycra{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: remeraLycra;
}

.scooter{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: scooter;
}

.zapasVansClasicas{
    background-color:rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: zapasVansClasicas;
}

.zapasVans{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: zapasVans;
}

.zapasRipCurl{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: zapasRipCurl;
}

.zapasDc{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    grid-area: zapasDc;
}


.hombre{
    text-align: center;
}

.mujer{
    text-align: center;
}

.niños{
    text-align: center;
}

.zapatillas{
    text-align: center;
}

.acercaNosotros {
    background-color: #121212;
    color: #ffffff;
    padding: 30px 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.acercaNosotros .container {
    max-width: 650px;
    margin: 0 auto;
}

.acercaNosotros h2 {
    font-size: 1.2rem; 
    letter-spacing: 2px;
    margin: 0 0 8px 0; 
}

.acercaNosotros .divider {
    width: 40px;
    height: 3px;
    background-color: #ff0000;
    margin: 0 auto 15px;
}

.acercaNosotros p {
    font-size: 0.85rem;
    line-height: 1.4;
    color: #bbb;
    margin: 0;
}

.acercaNosotros strong {
    color: #fff;
}

.nav-underline .nav-link {
    padding-right: 0;
    padding-left: 0;
    border-bottom: var(--bs-nav-underline-border-width) solid transparent;
    font-weight: 700;
    color: white;
}

.navbar-toggler{
    color: white;
    background-color: white;
}

.navbar-nav .nav-link.active{
    color: #6c757d;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #212529 !important;
}

.btn-outline-success {
    --bs-btn-color: rgb(72, 72, 204);
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(72, 72, 204);
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(72, 72, 204);
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}